

/*------- CSS FOR HOW IT WORKS BUTTON --------*/

#square {
  background-color: #f4bb06;
  width: 150px;
  padding-bottom: 10px;
  padding-top: 40px;
  margin-left: 65px;
  margin-top: -20px;
  text-align: center;
  color: #ffffff;
  font-family: Proxima Nova ;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  border-radius: 10px;
  border-color: #f4bb06;
  border-style: solid;
  border-width: 1px;
  position: fixed;
}

#square:hover{
  transform: translateY(10px);
  transition: all 0.2s linear;
}

#square{
animation: fadeIn 1.3s;

}


@keyframes fadeIn {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
  }
}

/*------------CSS FOR radio buttons columns female/male--------------*/

#firstSentence {
  font-family: Proxima Nova;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  right: -300px;
  margin-top: -20px;
  -webkit-animation: mymove2 1s forwards; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 4.5s; /* Safari 4.0 - 8.0 */
  animation: mymove2 1s forwards;
  animation-delay: 4.5s;
  }

  @-webkit-keyframes mymove2 {
    from {right: -250px;}
    to {right: -30px;}
  }

  @keyframes mymove2 {
    from {right: -250px;}
    to {right: -30px;}
  }



@keyframes fadeInOut1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



td.radioButtonColumn1{
  text-align: center;
  padding-left: 90px;
  padding-right: -10px;
  padding-top: 20px;
  padding-bottom: 35px;
  opacity: 0;
  animation: fadeInOut1 1.5s ease-in-out 3s forwards;
  animation-delay: 7.5s;
}
td.radioButtonColumn2{
  text-align: center;
  padding-right: 155px;
  padding-top: 20px;
  padding-bottom: 35px;
  opacity: 0;
  animation: fadeInOut1 1.5s ease-in-out 3s forwards;
  animation-delay: 7.5s;
}

#radioStyle1{
  visibility: hidden;
}

#radioStyle2{
  visibility: hidden;
}

a.initOption0{
  margin-left: 20px;
  font-family: Proxima Nova;
  font-weight: lighter;
  letter-spacing: 2px;
}
 a.initOption0 {
  position: relative;
  color: #000000;
  text-decoration: none;
}

a.downOption0{
  margin-left: 20px;
  font-family: Proxima Nova;
  font-weight: lighter;
  letter-spacing: 2px;
}
 a.downOption0 {
  position: relative;
  color: #000000;
  text-decoration: none;
}

a.downOption0:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffffff;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


a.initOption0:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.initOption0:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* ---- */

a.initOption1{
  margin-left: 20px;
  font-family: Proxima Nova;
  font-weight: lighter;
  letter-spacing: 2px;
}
 a.initOption1 {
  position: relative;
  color: #000000;
  text-decoration: none;
}

a.downOption1{
  margin-left: 20px;
  font-family: Proxima Nova;
  font-weight: lighter;
  letter-spacing: 2px;
}
 a.downOption1 {
  position: relative;
  color: #000000;
  text-decoration: none;
}

a.downOption1:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffffff;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


a.initOption1:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.initOption1:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*------------CSS FOR MORE INFO SECTION--------------*/

#moreInfoSection{
  margin-top: -20px;
  margin-left: -500px;
  width: 235px;
  height: 339px;
  border-radius: 10px;
  background-color: white;
  position: fixed;
  transform: translateX(5px);
  transition: all 0.4s ease-in-out 0.05s;
}


.moreInfoText{
  font-family: Proxima Nova;
  text-align: justify;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 20px;
}

.moreInfoText1{
  color: #f4bb06;
  font-family: Proxima Nova;
  font-weight: bold;
  text-align: center;
  line-height: 12px;
  font-size: 10px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: 28px;
  margin-right: 13px;
}
/*---------------------------*/

/* Main Title CSS*/

.TitleDiv{
  text-align: center;
  padding-top: 20px;
}

.animate {
  position: relative;
  color: transparent;
  padding: 7px;
  overflow: hidden;
  display: inline-block;
  margin: 1px;
  animation: textappear .2s .5s forwards;
}
.animate::before {
  content: '';
  position: absolute;
  background: #eae9e8;
  width: 100%;
  top: 0;
  bottom: 0;
}
.right::before {
  animation: sliderRight 3s forwards;
}
.left::before {
  animation: sliderLeft 3s forwards;
}
@keyframes textappear {
  100% {
    color: #000000;
  }
}
@keyframes sliderRight {
  0% {
    right: 100%;
  }
  100% {
    right: -100%;
  }
}
@keyframes sliderLeft {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.animate {
  white-space: nowrap;
}
h1.animate {
  font-size: 40px;
  font-family: Proxima Nova;
}

p.animate {
  font-family: Proxima Nova;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eae9e8;
  overflow: hidden;
}

/* CSS FOR type of shoe question 1 */

#typeID{
  display: none;
}

.typeQuestion {
  font-family: Proxima Nova;
  background-color: white;
  padding: 30px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  right: -300px;
  margin-top: 10px;
  -webkit-animation: mymove1 1s forwards; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
  animation: mymove1 1s forwards;
  animation-delay: 1s;
}

@-webkit-keyframes mymove1 {
    from {right: -250px;}
    to {right: -30px;}
}

@keyframes mymove1 {
    from {right: -250px;}
    to {right: -30px;}
}

/* CSS FOR SNEAKER ICON SVG */

.st0:hover{
  fill:#f9d05d;
}

#sneakerIcon{
  width: 100px;
  transition: all .2s ease-in-out;
  display: none;
}

#sneakerIcon:hover{
  transform: scale(1.2);
}

/* CSS FOR WINTER BOOT ICON SVG */

.st0v2:hover{
  fill:#f9d05d;
}

#winterIcon{
  width: 100px;
  transition: all .2s ease-in-out;
  display: none;
}

#winterIcon:hover{
  transform: scale(1.2);
}

/* CSS FOR SUMMER SHOES ICON SVG */
.st0v3:hover{
  fill:#f9d05d;
}

#summerIcon{
  width: 100px;
  transition: all .2s ease-in-out;
  display: none;
}

#summerIcon:hover{
  transform: scale(1.2);
}

/* -------HOVER IMAGES 1----- */

#hoverImages1{
  display: none;
  width: 200px;
}

#hoverImages2{
  display: none;
  width: 170px;
}

#hoverImages3{
  display: none;
  width: 200px;
  padding-left: -200px;
}


/* -------Aligning the table and the div of the first section of icons ------- */

.topSectionDiv {
  text-align: center;
}

.topSectionTable{
  margin:1em auto;
}

.topSectionTable1{
  width: 700px;
  margin:1em auto;
}

.boxes{
  padding-left: 50px;
  padding-right: 50px;
}

/* arch question div */

#archID {
  display: none;
}

.archQuestion {
  font-family: Proxima Nova;
  background-color: white;
  padding: 30px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  margin-top: 15px;
  margin-right: 0px;
  right: -300px;
  -webkit-animation: mymove 1s forwards; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
  animation: mymove 1s forwards;
  animation-delay: 1s;
}

@-webkit-keyframes mymove {
    from {right: -250px;}
    to {right: -30px;}
}

@keyframes mymove {
    from {right: -250px;}
    to {right: -30px;}
}

/* arch hover icons ----- */
#arch1{
  width: 120px;
  transition: all .2s ease-in-out;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  display: none;
}

#arch1:hover{
  transform: scale(1.2);
}

#arch2{
  width: 120px;
  transition: all .2s ease-in-out;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  display: none;
}

#arch2:hover{
  transform: scale(1.2);
}

#arch3{
  width: 120px;
  transition: all .2s ease-in-out;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  display: none;
}

#arch3:hover{
  transform: scale(1.2);
}

#arch4{
  width: 120px;
  transition: all .2s ease-in-out;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  display: none;
}

#arch4:hover{
  transform: scale(1.2);
}

/* ---- LINE ARCH INFO ---*/

#archLine1{
  visibility: hidden;
  width: 5px;
  height: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

#archLine2{
  visibility: hidden;
  width: 5px;
  height: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

#archLine3{
  visibility: hidden;
  width: 5px;
  height: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

#archInfo1 {
  visibility: hidden;
  font-family: Proxima Nova;
  text-align:left;
  line-height: 16px;
  font-size: 12px;
  color: #bfbdb8;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

#archInfo2 {
  visibility: hidden;
  font-family: Proxima Nova;
  text-align:left;
  line-height: 16px;
  font-size: 12px;
  color: #bfbdb8;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
 overflow: hidden;
}

#archInfo3 {
  visibility: hidden;
  font-family: Proxima Nova;
  text-align:left;
  line-height: 16px;
  font-size: 12px;
  color: #bfbdb8;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
 overflow: hidden;
}

#archInfo4 {
  visibility: hidden;
  font-family: Proxima Nova;
  text-align:left;
  line-height: 16px;
  font-size: 12px;
  color: #bfbdb8;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
 overflow: hidden;
}

#titleArch {
  color: #000000;
}

/* ---- LAST ANIMATION ---*/

#lineTester{
  width: 300px;
  background-color: white;
}

.tester .st0v4{
  animation-name: dash;
  animation-duration: 10s;
  stroke-dasharray: 11000;
  stroke-dashoffset: 0;
  animation-timing-function: linear;
  animation-play-state: paused;
}

.tester:hover .st0v4{
  animation-play-state: running;
}

@keyframes dash {
  from {
    stroke-dashoffset: 11000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
